*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body{
	overflow-x: hidden; 
	color: #505962;
}


/*transparent nav*/
.navbar{
	background: rgba(0, 0, 0, 0.5);
/*	background-image: linear-gradient(180deg);*/
}

/*make nav to left*/
.navbar-nav li a{
	float: right;
	text-align: left;
}

/*index ko to maam*/

.video-background{
	position: fixed;
	width: 100%;
	min-height: 100vh;
}


.home{
	position: relative;
	padding-top: 5rem;
}


.my-name{
	font-size: 10rem;
	color: #54a1ab;
	font-family: 'Yellowtail', cursive;
}

footer {
	text-align: center;
	background-color: #333;
	color: #fff;
	position: fixed;
	bottom: 0;
	width: 100%;
	overflow-x: hidden;
	background: rgba(0, 0, 0, 0.5);
  /* position: fixed;
  z-index: 1; */
}



#engineer{
	position: relative;
	padding-top: 5rem;
	padding-bottom: 2rem;
}

#engineer img{
	width: 100% ;
}




/*-------------project page----------*/


#skills{
	justify-content: center;
	font-size: 3rem;

}

/*.menu-bar{
	background-image: linear-gradient(180deg,#ffffff,#000000)
}*/

#skills-icons img{
	width: 100px;
	height: 100px;
	justify-content: center;
}

#skill-main{
	position: absolute;
	justify-content: center;
	margin-left: auto;
	width: 100;
	text-align: center;
	padding-top: 3rem;
}

#skills {
	font-family: 'Bitter', serif;

}

#jumbotron {
	position: absolute;
	width: 100%;
}

/*icons smooth transition start*/
#skills-icons img{
	transition: transform .5s ease;
}
#skills-icons img:hover{
	transform: scale(1.5);
	cursor: zoom-in;
}
/*icons transition end*/

#modal-body img{
	padding-left: 5rem;
	justify-content: center;

}

/*make jumbotron transparent*/
.jumbotron{
	background: rgba(0,0,0,0.5) !important;
}

.modal-content{
	background: rgba(0,0,0,0.8);
}

/*----------------about page na itey! ------------*/

.image-background{
	width: 100%;
	height: 100vh;
	position: fixed;
}

#img-prof{
	justify-content: center;
	position: absolute;
	padding-top: 5rem;
}

#jumbo-social img{
	width: 80px;
	height: 80px;
	position: relative;
}

/*icons smooth transition start*/
.social img{
	transition: transform .5s ease;
}
.social img:hover{
	transform: scale(1.5);
	cursor: zoom-in;
}
/*icons transition end*/


/*
#jumbo-wid{
	position: absolute;

}*/


/*@media(max-width:768px) {
  header { padding: 30px 20px; }
  header h1 { font-size: 36px; margin-bottom: 22px; }
  header p { font-size: 18px; }
  main { width: 100vw; padding: 20px; }
  article { margin-bottom: 16px; font-size: 14px; }
  article h3 { margin: 10px 0 20px 0; }
  article p { margin-top: 16px; line-height: 20px; }
}*/




/*auto adjust font*/
/*.col-md-8 intro-text{
	font-size: 6rem;
	padding-right: 3rem;
}
.col-sm-8 intro-text{
	font-size: 4rem;
	margin: auto;
}*/

